In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('Classificado.xlsx')

In [4]:
df.head()

                                         Treinamento  Etiquetas
0                    @caos__0 eu no valorant :v\nfon          2
1  o cara q pra mim Ã© o melhor player de valorant...          2
2   mano algm upa meu passe no valorant na humildade          2
3  deletei o valorant, agora meu pc volta a ligar...          1
4  quem tiver pc baixa valorant nessa porr que eu...          1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Treinamento  500 non-null    object
 1   Etiquetas    500 non-null    int64
dtypes: int64(1), object(1)
memory usage: 7.9+ KB

In [7]:
def classifica (Etiquetas):
    if Etiquetas == 1:
        return 'Relevante'
    elif Etiquetas == 2:
        return 'Irrelevante'

In [8]:
df['Classificado'] = df.Etiquetas.apply(classifica)

In [9]:
df.head()

                                         Treinamento  Etiquetas Classificado
0                    @caos__0 eu no valorant :v\nfon          2  Irrelevante
1  o cara q pra mim Ã© o melhor player de valorant...          2  Irrelevante
2   mano algm upa meu passe no valorant na humildade          2  Irrelevante
3  deletei o valorant, agora meu pc volta a ligar...          1    Relevante
4  quem tiver pc baixa valorant nessa porr que eu...          1    Relevante

In [25]:
df.to_excel('Classificado-v2.xlsx', index=False)

In [26]:
df2 = pd.read_excel('Classificado-v2.xlsx')

In [27]:
df2

                                           Treinamento  Etiquetas Classificado
0                      @caos__0 eu no valorant :v\nfon          2  Irrelevante
1    o cara q pra mim Ã© o melhor player de valorant...          2  Irrelevante
2     mano algm upa meu passe no valorant na humildade          2  Irrelevante
3    deletei o valorant, agora meu pc volta a ligar...          1    Relevante
4    quem tiver pc baixa valorant nessa porr que eu...          1    Relevante
..                                                 ...        ...          ...
495  rt @patochovsk: ðŸ’¥sorteio de valorant pointsðŸ’¥\n...          2  Irrelevante
496                           @girafodott valorant tbm          2  Irrelevante
497  jogador de lol foi jogar valorant veja o que r...          2  Irrelevante
498  alÃ´ valorant, encontro partida nunca ? 20 minu...          1    Relevante
499                  quem vai jogar um valorant cmg hj          1    Relevante

[500 rows x 3 columns]